[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = git://github.com/gmarik/vundle.git
